@model shelter.Models.AnimalIndexModel

@{
    ViewData["Title"] = "Index";
}
<p>
    <a class="nav-link text-dark" asp-action="Create" asp-controller="Animal">Create New</a>
</p>

<div class="container mt-4">
    <h2>Фильтр</h2>
    <form method="get" asp-controller="Animal" asp-action="Filter">
        <div class="row">
            <div class="col-md-4 mb-3">
                <label for="speciesSelect">Вид животного</label>
                <select class="custom-select" id="speciesSelect" name="id">
                    <option selected value="">Выбрать все</option>
                    @foreach (var species in Model.speciesViewModels)
                    {
                        <option value="@species.Id">@species.Name</option>
                    }
                </select>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-4">
                <button type="submit" class="btn btn-primary">Применить фильтр</button>
            </div>
        </div>
    </form>
</div>

<table>
    <thead>
        <tr>
            <th>Name</th>
            <th class="actions">Actions</th>
        </tr>
    </thead>
    <tbody>
        <div class="container">
            <h2>Список животных</h2>
            <div class="row">
                @foreach (var animal in Model.animalViewModels)
                {
                    <div class="col-md-4 mb-3">
                        <div class="card">
                            @if (!string.IsNullOrEmpty(animal.Photo))
                            {
                                <img src="@animal.Photo" class="card-img-top" alt="Animal Image" style="max-width: 100%; height: auto;">
                            }
                            else
                            {
                                <img src="~/img/avatar2.jpg" class="card-img-top" alt="Animal Image" style="max-width: 100%; height: auto;">
                            }
                            <div class="card-body">
                                <h5 class="card-title">@animal.Name</h5>
                                <p class="card-text">@animal.DescriptionOfAnimal</p>
                                <a asp-action="Details" asp-route-id="@animal.Id" class="btn btn-primary">Подробнее</a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </tbody>
</table>
