@model shelter.Models.AdoptionApplicationIndexModel

@{
    ViewData["Title"] = "Index";
}

<table class="table">
    <thead>
        <tr>
            <th>Animal</th>
            <th>User</th>
            <th>Status</th>
            <th class="actions">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.adoptionApplicationViewModels)
        {
            <tr>
                <td>@item.AnimalName</td>
                <td>@item.UserName</td>
                <td>@item.StatusName</td>
                <td class="actions">
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> |
                    <a asp-controller="User" asp-action="Details" asp-route-id="@item.IdUser">User</a> |
                    <a asp-controller="Animal" asp-action="Details" asp-route-id="@item.IdAnimal">Animal</a>
                </td>
            </tr>
        }
    </tbody>
</table>
